
body {
    font-family: 'Passion One', 'serif';
    font-size: 62.5%;
    background-attachment: fixed;
    padding-bottom: 40px;
}

h1, h2 {
    color: $twitterBlue;
    text-transform: uppercase;
}

h1 {
    @include fontStyling(5.5rem, default);
}

.secretHeader {
    font-size: 4.5rem;
}

h2 {
    @include fontStyling(4rem, default);
}

p {
    @include fontStyling(2rem, 2.5rem);
}

.wrapper {
    max-width: 1500px;
    width: 85%;
    margin: 0 auto;
}

.darkModeBackground {
    background: $darkGrey;
}

.lightModeBackground {
    background: $white;
}

.darkModeText {
    color: $white;
}

.lightModeText {
    color: $darkGrey;
}